{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.assignments %}
    <div class="item">

      <span class="project-title">
        {% if project.link %}
        <a href="#" target="_blank">{{ project.title }}</a>
        {% else %}
        {{ project.title }}
        {% endif %}
      </span>

      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}

      <!-- 클론코딩 프로젝트(Javascript) -->
      <div class="projectImgContainer">
          {% if project.img1 %}
            <div class="project-img">
                <a href="{{ project.link1 }}" target="_blank"><img src="{{ project.img1 }}"></a>
            </div>
          {% endif %}
          {% if project.img2 %}
            <div class="project-img">
                <a href="{{ project.link2 }}" target="_blank"><img src="{{ project.img2 }}"></a>
            </div>
          {% endif %}
          {% if project.img3 %}
            <div class="project-img">
                <a href="{{ project.link3 }}" target="_blank"><img src="{{ project.img3 }}"></a>
            </div>
          {% endif %}
          {% if project.img4 %}
            <div class="project-img">
                <a href="{{ project.link4 }}" target="_blank"><img src="{{ project.img4 }}"></a>
            </div>
          {% endif %}
          {% if project.img5 %}
            <div class="project-img">
                <a href="{{ project.link5 }}" target="_blank"><img src="{{ project.img5 }}"></a>
            </div>
          {% endif %}

        <!-- Open API 연동 프로젝트 -->
          {% if project.img6 %}
            <div class="project-img">
                <a href="{{ project.link6 }}" target="_blank"><img src="{{ project.img6 }}"></a>
            </div>
          {% endif %}

        <!-- 클론코딩(React.js) -->
          {% if project.img7 %}
            <div class="project-img">
                <a href="{{ project.link7 }}" target="_blank"><img src="{{ project.img7 }}"></a>
            </div>
          {% endif %}
          {% if project.img8 %}
            <div class="project-img">
                <a href="{{ project.link7 }}" target="_blank"><img src="{{ project.img8 }}"></a>
            </div>
          {% endif %}

          <!-- Final 프로젝트 LittleBee -->
          {% if project.img9 %}
            <div class="project-img">
                <a href="{{ project.link8 }}" target="_blank"><img src="{{ project.img9 }}"></a>
            </div>
          {% endif %}
      </div>
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
